<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>710692714196-1tljprr7l5ucblqsmoglaf5hop3bb1mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710692714196-1tljprr7l5ucblqsmoglaf5hop3bb1mt</string>
	<key>API_KEY</key>
	<string>AIzaSyDjncshSNHAxtdqKHG_ZVXQHpRZD1RNXH4</string>
	<key>GCM_SENDER_ID</key>
	<string>710692714196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arturober.ionicproducts</string>
	<key>PROJECT_ID</key>
	<string>dwec-2017-1507729559860</string>
	<key>STORAGE_BUCKET</key>
	<string>dwec-2017-1507729559860.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710692714196:ios:43a1d063f95840a8</string>
	<key>DATABASE_URL</key>
	<string>https://dwec-2017-1507729559860.firebaseio.com</string>
</dict>
</plist>