<form [formGroup]="userForm">
  <p><input type="text" placeholder="Name" formControlName="name"></p>
  <div formGroupName="emailGroup">
    <p><input type="email" placeholder="Email" formControlName="email"></p>
    <p><input type="email" placeholder="Email" formControlName="emailConfirm"></p>
  </div>
  <p formArrayName="phones" *ngFor="let phone of phones.controls; let i = index">
    <input type="tel" placeholder="Phone {{i+1}}" [formControlName]="i">
  </p>
  <p><input type="password" placeholder="Password" formControlName="password"></p>
  <p>Notify by:
    <input type="radio" formControlName="notifications" value="email"> Email
     <input type="radio" formControlName="notifications" value="phone"> Phone
  </p>
  <p><input type="date" placeholder="Birth date" formControlName="birthDate"></p>
</form>
<p>
  <button (click)="setDemoData()">Example values</button>
  <button (click)="addPhone()">Add Phone</button>
  <button (click)="rmPhone()">Remove Phone</button>
</p>
<p>{{userForm.value | json}}</p>
<p>Phone valid: {{userForm.get('phones').get('0').valid}}</p>
<p>Birth date valid: {{userForm.get('birthDate').valid}}</p>
<p>Emails match: {{userForm.get('emailGroup').valid}}</p>
<p>Name modified: {{userForm.get('name').dirty}}</p>
